@model IEnumerable<Herfitk.Core.Models.Data.Category>

@{
    ViewData["Title"] = "Index";
}

<body>
    <h1 class="text-center">Category</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Category</a>
    </p>
    <form asp-controller="Categ" asp-action="Index" method="get">
        <p>
            Search: <input type="text" name="SearchString" />
            <input type="submit" value="Search" />
            @*   <input type="submit" formaction="@Url.Action("Index", "Herify")" value="Reset" />
            <input type="submit" formaction="@Url.Action("IndexId", "Herify")" value="Get Herfy By Id" /> *@
        </p>
    </form>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descraption)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descraption)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                            <img src="@item.Image" alt="Image" style="max-width: 100px; max-height: 100px;" />
                        }
                        else
                        {
                            <span>No image available</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                     <td>
                     <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                     </td>
                       <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                       </td>
                  
                </tr>
            }
        </tbody>
    </table>

    <!-- Bootstrap JavaScript (Optional if you need JS features) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</table>
